body
{
    background-image: url('CVpicture/CVBG.png');
    background-size: 100% ; 
    background-repeat: no-repeat; 
    height: 0%; 
    margin: 0;
}


#img
{
    Position: absolute;
    Top: 5%; 
    left: 5%;
}

#text1
{
    Position: absolute;
    Top: 24%; 
    right: 27% ;
    font-size: 24px;
    Color: black ;
}
#text1 p {
    line-height: 0.4; 
  }


#text2
{
    Position: absolute;
    Top: 62%; 
    right: 18% ;
    font-size: 22px;
    Color: black ;
}
#text2 p {
    line-height: 0.5; 
  }


#text3
{
    Position: absolute;
    Top: 90%; 
    right: 31% ;
    font-size: 25px;
    Color: black ;
}
#text3 p {
    line-height: 1;
  }

#text4
{
    Position: absolute;
    Top: 98%; 
    right: 25% ;
    font-size: 25px;
    Color: black ;
}
#text4 p {
    line-height: 0.5;
  }
